<div class="forgot-pass-screen">
  <div class="form-border">
    <h1>Reset your password here!</h1>
    <br />
    <form (ngSubmit)="onSubmitForgotPass()" #forgotPassForm="ngForm">
      <label
        ><b
          >Enter your account email to send you a reset password token.</b
        ></label
      ><br />
      <input
        class="form-control"
        type="email"
        id="email"
        placeholder="Your email"
        ngModel
        name="email"
        required
        #email="ngModel"
      />
      <span class="help" [ngClass]="{ hidden: email.valid || !email.touched }"
        >Email can not be empty</span
      >
      <br />
      <input
        class="btn btn-primary"
        type="submit"
        value="Receive email"
        [disabled]="!forgotPassForm.valid"
      />
    </form>
    <br />
    <div *ngIf="forgotIsLoading" class="spinner">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div *ngIf="forgotError" class="alert alert-danger">
      {{ forgotError }}
    </div>
    <div *ngIf="forgotSuccess" class="alert alert-success">
      {{ forgotSuccess }}
    </div>
    <form (ngSubmit)="onSubmitResetPass()" #resetPassForm="ngForm">
      <label
        ><b
          >Enter the token that was sent to your email and the new password you
          want to use from now on.</b
        ></label
      ><br />
      <input
        class="form-control"
        type="text"
        id="token"
        placeholder="Your token from the email you received"
        ngModel
        name="token"
        required
        #token="ngModel"
      />
      <span class="help" [ngClass]="{ hidden: token.valid || !token.touched }"
        >Token can not be empty</span
      >
      <br />
      <input
        class="form-control"
        type="password"
        id="password"
        placeholder="Your new password"
        ngModel
        name="password"
        required
        #password="ngModel"
      />
      <span
        class="help"
        [ngClass]="{ hidden: password.valid || !password.touched }"
        >Password can not be empty</span
      >
      <br />
      <input
        class="form-control"
        type="password"
        id="passwordConfirm"
        placeholder="Confirm your new password"
        ngModel
        name="passwordConfirm"
        required
        #passwordConfirm="ngModel"
      />
      <span
        class="help"
        [ngClass]="{
          hidden: passwordConfirm.valid || !passwordConfirm.touched
        }"
        >Confirm your new password</span
      >
      <br />
      <div class="buttons-align">
        <input
          routerLink="/login"
          class="btn btn-success"
          type="button"
          value="Back to login"
        />
        <input
          class="btn btn-primary"
          type="submit"
          value="Reset Password"
          [disabled]="!resetPassForm.valid"
        />
      </div>
    </form>

    <br />
    <br />
    <div *ngIf="resetIsLoading" class="spinner">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div *ngIf="resetError" class="alert alert-danger">
      {{ resetError }}
    </div>
    <div *ngIf="resetSuccess" class="alert alert-success">
      {{ resetSuccess }}
    </div>
  </div>
</div>
