<div class="screen">
  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile>
      <a
        routerLink="/main-menu/movie-list"
        routerLinkActive="active"
        class="list-group-item list-group-item-action py-2 ripple"
      >
        <i class="fas fa-camera-retro fa-fw me-3"></i> Movies {{ this.movies }}
      </a></mat-grid-tile
    >
    <mat-grid-tile>
      <a
        routerLink="/main-menu/cinema-list"
        routerLinkActive="active"
        class="list-group-item list-group-item-action py-2 ripple"
      >
        <i class="fas fa-film fa-fw me-3"></i> Cinemas {{ this.cinemas }}
      </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a
        routerLink="/main-menu/session-list"
        routerLinkActive="active"
        class="list-group-item list-group-item-action py-2 ripple"
      >
        <i class="fas fa-list fa-fw me-3"></i> Sessions {{ this.sessions }}
      </a></mat-grid-tile
    >
  </mat-grid-list>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="copyrights">
    <h3>Η παρούσα εργασία είναι των φοιτητών:</h3>
    <br />
    <h2>ΑΝΤΩΝΙΑΔΗ ΓΕΩΡΓΙΟΥ</h2>

    <h2>ΔΑΜΙΑΝΙΔΗ ΝΙΚΟΛΑΟΥ-ΜΙΧΑΗΛ</h2>

    <h2>ΔΙΑΜΑΝΤΗ ΑΘΑΝΑΣΙΟΥ</h2>
  </div>
</div>
