<div class="screen">
  <div class="center">
    <h1>Filtered Movies - Genres</h1>
    <h1 *ngIf="familyMovies"><i>Family Movies Edition</i></h1>
  </div>
  <div class="center">
    <h2>Movies that match your favorite Genres!</h2>
  </div>
  <mat-accordion multi="true" *ngIf="mySessions.length > 0">
    <mat-expansion-panel *ngFor="let session of mySessions">
      <mat-expansion-panel-header>
        <mat-panel-title
          ><b>{{ session.name }}</b></mat-panel-title
        >
      </mat-expansion-panel-header>
      <mat-list>
        <span *ngIf="isAdmin">
          <mat-list-item> <b>Code</b> : {{ session.code }} </mat-list-item>
        </span>

        <mat-list-item>
          <b>Movie</b> : {{ session.movie_doc[0].title | titlecase }}
        </mat-list-item>

        <mat-list-item>
          <b>Cinema</b> : {{ session.cinema_doc[0].name | titlecase }}
        </mat-list-item>

        <mat-list-item>
          <b>Date</b> :
          {{ session.startDate.toString().substring(0, 10) }}
        </mat-list-item>

        <mat-list-item> <b>Time</b> : {{ session.startTime }} </mat-list-item>

        <mat-list-item>
          <b>Location</b> : {{ session.cinema_doc[0].location.longitude }} ,
          {{ session.cinema_doc[0].location.latitude }}</mat-list-item
        >
        <!-- google-maps -->
        <google-map
          width="600px"
          height="400px"
          [center]="{
            lat: session.cinema_doc[0].location.longitude,
            lng: session.cinema_doc[0].location.latitude
          }"
        >
          <map-marker
            [position]="{
              lat: session.cinema_doc[0].location.longitude,
              lng: session.cinema_doc[0].location.latitude
            }"
            [label]="session.cinema_doc[0].name"
          ></map-marker>

          <map-marker
            [position]="{
              lat: usersLongitude,
              lng: usersLatitude
            }"
            label="Your Address"
          ></map-marker>
          <map-info-window>Info Window content</map-info-window>
        </google-map>
      </mat-list>
      <mat-action-row>
        <button mat-button color="primary" (click)="onBookSession(session)">
          BOOK TICKETS
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

  <p class="center alert alert-danger" *ngIf="isThereAnError && !isLoading">
    Please add your favorite movie genres so we can give you our suggestions!
    You can do that
    <a routerLink="/main-menu/update-account">here</a>.
  </p>
  <p
    class="center alert alert-danger"
    *ngIf="mySessions.length <= 0 && !isLoading && !error"
  >
    No movies that match your preferences could be found.
  </p>
  <div *ngIf="error" class="center alert alert-danger">
    {{ error }}
  </div>
  <div *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <br />
  <h3>You can also filter the results by the movie's rating!</h3>
  <mat-card>
    <form (submit)="onSendRating()" #ratingForm="ngForm">
      <h4><b>Select Preferred Rating:</b></h4>
      <mat-form-field appearance="fill">
        <mat-label>Choose Rating</mat-label>
        <mat-select ngModel name="rating" required>
          <mat-option value="all">All Ratings</mat-option>
          <mat-option value="Unrated">Unrated</mat-option>
          <mat-option value="G">G</mat-option>
          <mat-option value="PG">PG</mat-option>
          <mat-option value="PG13">PG13</mat-option>
          <mat-option value="R">R</mat-option>
          <mat-option value="NC-17">NC-17</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <div class="buttons-align">
        <button
          mat-raised-button
          color="accent"
          type="submit"
          [disabled]="!ratingForm.valid"
        >
          Filter by Rating
        </button>
      </div>
    </form>
  </mat-card>

  <br />
  <h3>
    Filter also by the maximum distance that a cinema can have from the address
    that you provided to us!
  </h3>
  <h3 *ngIf="!isAddressPresent" class="center alert alert-danger">
    To use this feature, please update your address information. You can do that
    <a routerLink="/main-menu/update-account">here</a>.
  </h3>
  <mat-card>
    <form (submit)="onSendDistance()" #distanceForm="ngForm">
      <h4><b>Select Maximum Distance:</b></h4>
      <mat-form-field appearance="fill">
        <mat-label>Choose Distance</mat-label>
        <mat-select ngModel name="distance" required>
          <mat-option value="all">All Cinemas</mat-option>
          <mat-option value="5">5 km</mat-option>
          <mat-option value="10">10 km</mat-option>
          <mat-option value="20">20 km</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <div class="buttons-align">
        <button
          mat-raised-button
          color="accent"
          type="submit"
          [disabled]="!distanceForm.valid"
        >
          Filter by Distance
        </button>
      </div>
    </form>
  </mat-card>
</div>
