.screen {
  margin-left: 6rem;
  width: 70%;
  margin-top: 100px;
  position: relative;
  height: fit-content;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button-back {
  margin-left: 5px;
}

.center {
  display: flex;
  justify-content: center;
}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 100%;
}


