.screen {
  margin-left: 5rem;
  width: 70%;
  margin-top: 100px;
  position: relative;
}

.center {
  display: flex;
  justify-content: center;
}

.mat-expansion-panel-header:not([aria-disabled=true]) {
  cursor: pointer;
  background-color: #eee;
}