.update-pass-screen {
  display: flex;
  margin-left: 6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #444;
  font-family: 'Poppins', sans-serif;
  background-color: #eee;
  margin-top: 100px;
  position: relative;
  height: fit-content;
  width: 70%;
}

.info {
  color: #444;
  font-family: 'Poppins', sans-serif;
}

.form-border {
  width: 100%;
  background-color: #eee;
  padding: 3rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.buttons-align {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 2rem;
  align-self: center;
}

input.ng-invalid.ng-touched {
  border: 2px solid rgb(223, 59, 64);
}

.hidden {
  display: none;
}

.help {
  color: rgb(223, 59, 64);
}

.spinner {
  text-align: center;
}

.forgot-link {
  text-align: center;
  color: #444;
  font-style: italic;
  text-decoration: none;
}

.forgot-link:hover {
  font-weight: bold;
}
