<div class="update-pass-screen">
  <div class="form-border">
    <h1>Update your password here</h1>
    <div class="info">
      After you have successfully updated your password, you will be redirected
      to login screen to enter your new credentials.
    </div>
    <br />
    <form (ngSubmit)="onSubmit()" #updatePassForm="ngForm">
      <label>Current password</label><br />
      <input
        class="form-control"
        type="password"
        id="currentPassword"
        placeholder="Your current password"
        ngModel
        name="passwordCurrent"
        required
        #passwordCurrent="ngModel"
      />
      <span
        class="help"
        [ngClass]="{
          hidden: passwordCurrent.valid || !passwordCurrent.touched
        }"
        >Current password can not be empty</span
      >
      <br />
      <label>New password</label><br />
      <input
        class="form-control"
        type="password"
        id="password"
        placeholder="Your new password"
        ngModel
        name="password"
        required
        #password="ngModel"
      />
      <span
        class="help"
        [ngClass]="{ hidden: password.valid || !password.touched }"
        >You must enter a new password</span
      >
      <br />
      <label>Confirm your new password</label><br />
      <input
        class="form-control"
        type="password"
        id="passwordConfirm"
        placeholder="Confrim your new password"
        ngModel
        name="passwordConfirm"
        required
        #passwordConfirm="ngModel"
      />
      <span
        class="help"
        [ngClass]="{
          hidden: passwordConfirm.valid || !passwordConfirm.touched
        }"
        >You must confirm your new password</span
      >
      <br />
      <br />
      <div class="buttons-align">
        <input
          routerLink="/main-menu/dashboard"
          class="btn btn-success"
          type="button"
          value="Back"
        />
        <input
          class="btn btn-primary"
          type="submit"
          value="Update Password"
          [disabled]="!updatePassForm.valid"
        />
      </div>
      <br />
    </form>
    <div *ngIf="isLoading" class="spinner">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <br />
    <div *ngIf="error" class="alert alert-danger">
      {{ error }}
    </div>
    <div *ngIf="success" class="alert alert-success">
      {{ success }}
    </div>
  </div>
</div>
