.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.screen {
  margin-left: 6rem;
  width: 70%;
  margin-top: 100px;
  position: relative;
  height: fit-content;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button-back {
  margin-left: 5px;
}

.center {
  display: flex;
  justify-content: center;
}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 100%;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

input.ng-invalid.ng-touched {
  border: 2px solid rgb(223, 59, 64);
}

.hidden {
  display: none;
}

.help {
  color: rgb(223, 59, 64);
}

.spinner {
  text-align: center;
}

.image {
  height: 5rem;
}

.image img {
  height: 100%;
  border-style: solid;
  border-color: #444;
}
