<div class="screen">
  <h1>Update Account Information & Personalization</h1>
  <div class="center">
    Here you can update some or all of your accounts's informations. You can
    take these actions as many times as you want.
  </div>
  <div class="center">Your username and mobile phone can NOT be updated.</div>
  <br />
  <form [formGroup]="updateImageForm" (ngSubmit)="onSubmitImage()">
    <div class="center-div">
      <div>Your Profile Photo</div>
    </div>
    <div class="center-div">
      <div class="image" *ngIf="imagePreview">
        <img [src]="imagePreview" [alt]="userData.surname" />
      </div>
    </div>
    <input
      type="file"
      (change)="onPickImage($event)"
      style="visibility: hidden"
      #pickFile
    />
    <br />
    <button type="button" mat-stroked-button (click)="pickFile.click()">
      Choose a new Photo
    </button>
    &nbsp; &nbsp; &nbsp;
    <button
      mat-raised-button
      value="Upload Photo"
      type="submit"
      [disabled]="!updateImageForm.valid"
      Upload
      Photo
    >
      Upload Photo
    </button>
  </form>
  <br />
  <br />
  <div *ngIf="isLoading" class="spinner">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div *ngIf="errorImage" class="center alert alert-danger">
    {{ errorImage }}
  </div>
  <div *ngIf="successImage" class="center alert alert-success">
    {{ successImage }}
  </div>
  <form [formGroup]="updateAccountForm" (ngSubmit)="onSubmit()">
    <div class="center-div">
      <span style="font-size: 18px">
        Check this box to adjust the colors if you have trouble viewing our
        site. &nbsp;
      </span>
      <input
        type="checkbox"
        id="colorBlind"
        name="colorBlind"
        formControlName="colorBlind"
      />
    </div>
    <br />
    <label>Firstname</label><br />
    <input
      class="form-control"
      type="text"
      id="name"
      placeholder="Your firstname"
      name="name"
      formControlName="name"
    />
    <span
      class="help"
      [ngClass]="{
        hidden:
          updateAccountForm.get('name').valid ||
          !updateAccountForm.get('name').touched
      }"
      >Firstname can not be empty</span
    >
    <br />
    <label>Lastname</label><br />
    <input
      class="form-control"
      type="text"
      id="surname"
      placeholder="Your lastname"
      name="surname"
      formControlName="surname"
    />
    <span
      class="help"
      [ngClass]="{
        hidden:
          updateAccountForm.get('surname').valid ||
          !updateAccountForm.get('surname').touched
      }"
      >Lastame can not be empty</span
    >
    <br />
    <label>Username</label><br />
    <input
      class="form-control"
      type="text"
      id="username"
      placeholder="A unique username"
      name="username"
      formControlName="username"
    />
    <span
      class="help"
      [ngClass]="{
        hidden:
          updateAccountForm.get('username').valid ||
          !updateAccountForm.get('username').touched
      }"
      >Username can not be empty</span
    >
    <br />
    <label>Email</label><br />
    <input
      class="form-control"
      type="email"
      id="email"
      placeholder="A unique email"
      name="email"
      formControlName="email"
      required
    />
    <span
      class="help"
      [ngClass]="{
        hidden:
          updateAccountForm.get('email').valid ||
          !updateAccountForm.get('email').touched
      }"
      >Email can not be empty</span
    >
    <br />
    <label>Mobile phone</label><br />
    <input
      class="form-control"
      type="text"
      id="phone"
      placeholder="A unique mobile phone"
      name="mobilePhone"
      formControlName="mobilePhone"
    />
    <span
      class="help"
      [ngClass]="{
        hidden:
          updateAccountForm.get('mobilePhone').valid ||
          !updateAccountForm.get('mobilePhone').touched
      }"
      >Mobile phone can not be empty</span
    >
    <br />
    <br />
    <h2>Personalization Section</h2>
    <h3>
      Here you can update your profile with information that will help us send
      you personalized movies and cinemas recommendations.
    </h3>
    <label>Age</label><br />
    <input
      class="form-control"
      type="number"
      id="age"
      placeholder="Your age"
      name="age"
      formControlName="age"
    />
    <br />
    <br />
    <h3>
      Here you can choose what days of the week you prefer to go to the movies.
      That way we can show you what movies are available on those days!
    </h3>
    <label for="monday">Monday &nbsp;</label>
    <input type="checkbox" id="monday" name="monday" formControlName="monday" />
    <label for="tuesday">&nbsp; &nbsp; Tuesday &nbsp;</label>
    <input
      type="checkbox"
      id="tuesday"
      name="tuesday"
      formControlName="tuesday"
    />
    <label for="wednesday">&nbsp; &nbsp; Wednesday &nbsp;</label>
    <input
      type="checkbox"
      id="wednesday"
      name="wednesday"
      formControlName="wednesday"
    />
    <label for="thursday">&nbsp; &nbsp; Thursday &nbsp;</label>
    <input
      type="checkbox"
      id="thursday"
      name="thursday"
      formControlName="thursday"
    />
    <label for="friday">&nbsp; &nbsp; Friday &nbsp;</label>
    <input type="checkbox" id="friday" name="friday" formControlName="friday" />
    <label for="saturday">&nbsp; &nbsp; Saturday &nbsp;</label>
    <input
      type="checkbox"
      id="saturday"
      name="saturday"
      formControlName="saturday"
    />
    <label for="sunday">&nbsp; &nbsp; Sunday &nbsp;</label>
    <input type="checkbox" id="sunday" name="sunday" formControlName="sunday" />
    <br />
    <br />
    <h3>
      You can also choose your favorite movie genres and receive recommendations
      accordingly!
    </h3>
    <label for="action">Action &nbsp;</label>
    <input type="checkbox" id="action" name="action" formControlName="action" />
    <label for="comedy">&nbsp; &nbsp; Comedy &nbsp;</label>
    <input type="checkbox" id="comedy" name="comedy" formControlName="comedy" />
    <label for="drama">&nbsp; &nbsp; Drama &nbsp;</label>
    <input type="checkbox" id="drama" name="drama" formControlName="drama" />
    <label for="fantasy">&nbsp; &nbsp; Fantasy &nbsp;</label>
    <input
      type="checkbox"
      id="fantasy"
      name="fantasy"
      formControlName="fantasy"
    />
    <label for="horror">&nbsp; &nbsp; Horror &nbsp;</label>
    <input type="checkbox" id="horror" name="horror" formControlName="horror" />
    <label for="mystery">&nbsp; &nbsp; Mystery &nbsp;</label>
    <input
      type="checkbox"
      id="mystery"
      name="mystery"
      formControlName="mystery"
    />
    <label for="romance">&nbsp; &nbsp; Romance &nbsp;</label>
    <input
      type="checkbox"
      id="romance"
      name="romance"
      formControlName="romance"
    />
    <label for="thriller">&nbsp; &nbsp; Thriller &nbsp;</label>
    <input
      type="checkbox"
      id="thriller"
      name="thriller"
      formControlName="thriller"
    />
    <label for="western">&nbsp; &nbsp; Western &nbsp;</label>
    <input
      type="checkbox"
      id="western"
      name="western"
      formControlName="western"
    />
    <br />
    <br />
    <h3 class="inline">
      Do you have any underaged children? We can show recommendations for them
      also! &nbsp;
    </h3>
    <input
      type="checkbox"
      id="children"
      name="children"
      formControlName="children"
    />
    <br />
    <br />
    <br />
    <h3>
      You can also add your address here. That way we can point out the cinema
      halls that are close to you!
    </h3>
    <label>Street</label><br />
    <input
      class="form-control"
      type="text"
      id="street"
      placeholder="Your street name"
      name="street"
      formControlName="street"
    />
    <br />
    <label>Number</label><br />
    <input
      class="form-control"
      type="number"
      id="streetNumber"
      placeholder="Your street number"
      name="streetNumber"
      formControlName="streetNumber"
    />
    <br />
    <label>District</label><br />
    <input
      class="form-control"
      type="text"
      id="district"
      placeholder="Your district"
      name="district"
      formControlName="district"
    />
    <br /><label>City</label><br />
    <input
      class="form-control"
      type="text"
      id="city"
      placeholder="Your city name"
      name="city"
      formControlName="city"
    />
    <br />
    <label>Longitude</label><br />
    <input
      class="form-control"
      type="number"
      id="longitude"
      placeholder="Your longitude"
      name="longitude"
      formControlName="longitude"
    />
    <br />
    <label>Latitude</label><br />
    <input
      class="form-control"
      type="number"
      id="latitude"
      placeholder="Your latitude"
      name="latitude"
      formControlName="latitude"
    />
    <br />
    <div class="buttons-align">
      <input
        routerLink="/main-menu/dashboard"
        class="btn btn-secondary"
        type="button"
        value="Back"
      />
      <input
        class="btn btn-success"
        type="submit"
        value="Update Info"
        [disabled]="!updateAccountForm.valid"
      />
    </div>
    <br />
  </form>
  <div *ngIf="isLoading" class="spinner">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div *ngIf="error" class="center alert alert-danger">
    {{ error }}
  </div>
  <div *ngIf="success" class="center alert alert-success">
    {{ success }}
  </div>
</div>
