.screen {
  margin-left: 6rem;
  width: 70%;
  margin-top: 100px;
  position: relative;
  height: fit-content;
  text-align: center;
}

.buttons-align {
  display: flex;
  justify-content: space-around;
}

.spinner {
  text-align: center;
}
