<app-header></app-header>

<div class="sidebar">
  <a
    *ngIf="isAdmin"
    routerLink="/main-menu/dashboard"
    routerLinkActive="active"
    class="list-group-item list-group-item-action py-2 ripple"
    ><i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span></a
  >
  <a
    *ngIf="isAdmin"
    routerLink="/main-menu/create-movie"
    routerLinkActive="active"
    class="list-group-item list-group-item-action py-2 ripple"
    ><i class="fas fa-camera-retro fa-fw me-3"></i
    ><span>Create new Movie</span></a
  >
  <a
    routerLink="/main-menu/movie-list"
    routerLinkActive="active"
    class="list-group-item list-group-item-action py-2 ripple"
  >
    <i class="fas fa-list fa-fw me-3"></i><span>Movies List</span>
  </a>
  <a
    *ngIf="isAdmin"
    routerLink="/main-menu/create-cinema"
    routerLinkActive="active"
    class="list-group-item list-group-item-action py-2 ripple"
    ><i class="fas fa-film fa-fw me-3"></i><span>Create new Cinema</span></a
  >
  <a
    routerLink="/main-menu/cinema-list"
    routerLinkActive="active"
    class="list-group-item list-group-item-action py-2 ripple"
    ><i class="fas fa-list fa-fw me-3"></i><span>Cinemas List</span></a
  >
  <a
    *ngIf="isAdmin"
    routerLink="/main-menu/create-session"
    routerLinkActive="active"
    class="list-group-item list-group-item-action py-2 ripple"
    ><i class="fas fa-calendar fa-fw me-3"></i
    ><span>Create new Session</span></a
  >
  <a
    routerLink="/main-menu/session-list"
    routerLinkActive="active"
    class="list-group-item list-group-item-action py-2 ripple"
    ><i class="fas fa-list fa-fw me-3"></i><span>Session List</span></a
  >
  <a
    routerLink="/main-menu/my-invitations"
    routerLinkActive="active"
    class="list-group-item list-group-item-action py-2 ripple"
    ><i class="fas fa-users fa-fw me-3"></i><span>My Bookings</span></a
  >
  <a
    routerLink="/main-menu/calendar"
    routerLinkActive="active"
    class="list-group-item list-group-item-action py-2 ripple"
    ><i class="fas fa-money-bill fa-fw me-3"></i
    ><span>Booking Calendar</span></a
  >
  <a
    *ngIf="isAdmin"
    routerLink="/main-menu/create-guest-account"
    routerLinkActive="active"
    class="list-group-item list-group-item-action py-2 ripple"
    ><i class="fas fa-clipboard-check fa-fw me-3"></i
    ><span>Manage Guest</span></a
  >
  <a
    routerLink="/main-menu/update-password"
    routerLinkActive="active"
    class="list-group-item list-group-item-action py-2 ripple"
    aria-current="true"
  >
    <i class="fas fa-lock fa-fw me-3"></i><span>Update Password</span>
  </a>
  <a
    routerLink="/main-menu/update-account"
    routerLinkActive="active"
    class="list-group-item list-group-item-action py-2 ripple"
  >
    <i class="fas fa-pen fa-fw me-3"></i><span>Update Account Info</span>
  </a>
  <a
    routerLink="/main-menu/friends-list"
    routerLinkActive="active"
    class="list-group-item list-group-item-action py-2 ripple"
  >
    <i class="fas fa-pen fa-fw me-3"></i><span>Friends List</span>
  </a>
  <a
    routerLink="/main-menu/user-activity"
    routerLinkActive="active"
    class="list-group-item list-group-item-action py-2 ripple"
  >
    <i class="fas fa-pen fa-fw me-3"></i><span>User Activity</span>
  </a>
  <a
    routerLink="/main-menu/delete-account"
    routerLinkActive="active"
    class="list-group-item list-group-item-action py-2 ripple"
    ><i class="fas fa-trash fa-fw me-3"></i><span>Delete Acount</span></a
  >
</div>

<div class="sidebar-right">
  <br />
  <h2>Personalized Suggestions</h2>
  <a
    routerLink="/main-menu/favorite-days-genres"
    [queryParams]="{ allMovies: true }"
    routerLinkActive="active"
    class="list-group-item list-group-item-action py-2 ripple"
    ><i class="fas fa-list fa-fw me-3"></i
    ><span>My Favorite Days & Genres</span></a
  >
  <a
    routerLink="/main-menu/favorite-days-genres"
    [queryParams]="{ cultMovies: true }"
    routerLinkActive="active"
    class="list-group-item list-group-item-action py-2 ripple"
    ><i class="fas fa-list fa-fw me-3"></i
    ><span>My Favorite Days & Genres - Cult Movies</span></a
  >
  <a
    *ngIf="hasChildren"
    routerLink="/main-menu/favorite-days-genres"
    [queryParams]="{ familyMovies: true }"
    routerLinkActive="active"
    class="list-group-item list-group-item-action py-2 ripple"
    ><i class="fas fa-list fa-fw me-3"></i
    ><span>My Favorite Days & Genres - Family Movies</span></a
  >
  <a
    routerLink="/main-menu/favorite-days"
    [queryParams]="{ allMovies: true }"
    routerLinkActive="active"
    class="list-group-item list-group-item-action py-2 ripple"
    ><i class="fas fa-list fa-fw me-3"></i><span>My Favorite Days</span></a
  >
  <a
    *ngIf="hasChildren"
    routerLink="/main-menu/favorite-days"
    [queryParams]="{ familyMovies: true }"
    routerLinkActive="active"
    class="list-group-item list-group-item-action py-2 ripple"
    ><i class="fas fa-list fa-fw me-3"></i
    ><span>My Favorite Days - Family Movies</span></a
  >
  <a
    routerLink="/main-menu/favorite-genres"
    [queryParams]="{ allMovies: true }"
    routerLinkActive="active"
    class="list-group-item list-group-item-action py-2 ripple"
    ><i class="fas fa-list fa-fw me-3"></i><span>My Favorite Genres</span></a
  >
  <a
    *ngIf="hasChildren"
    routerLink="/main-menu/favorite-genres"
    [queryParams]="{ familyMovies: true }"
    routerLinkActive="active"
    class="list-group-item list-group-item-action py-2 ripple"
    ><i class="fas fa-list fa-fw me-3"></i
    ><span>My Favorite Genres - Family Movies</span></a
  >
  <a
    *ngIf="hasFriends"
    routerLink="/main-menu/what-my-friends-watched"
    routerLinkActive="active"
    class="list-group-item list-group-item-action py-2 ripple"
    ><i class="fas fa-list fa-fw me-3"></i
    ><span>What my Friends Watched</span></a
  >
  <br />
  <h2>Coming Soon</h2>
  <a
    routerLink="/main-menu/favorite-genres-coming-soon"
    [queryParams]="{ allMovies: true }"
    routerLinkActive="active"
    class="list-group-item list-group-item-action py-2 ripple"
    ><i class="fas fa-list fa-fw me-3"></i
    ><span>Favorite Genres - Coming Soon</span></a
  >
  <a
    routerLink="/main-menu/favorite-genres-coming-soon"
    [queryParams]="{ cultMovies: true }"
    routerLinkActive="active"
    class="list-group-item list-group-item-action py-2 ripple"
    ><i class="fas fa-list fa-fw me-3"></i
    ><span>Favorite Genres - Cult Movies - Coming Soon</span></a
  >
  <a
    *ngIf="hasChildren"
    routerLink="/main-menu/favorite-genres-coming-soon"
    [queryParams]="{ familyMovies: true }"
    routerLinkActive="active"
    class="list-group-item list-group-item-action py-2 ripple"
    ><i class="fas fa-list fa-fw me-3"></i
    ><span>Favorite Genres - Family Movies - Coming Soon</span></a
  >
</div>

<div class="screen"><router-outlet></router-outlet></div>
